
.swift-version
.swift-version*

._run-factory
._run-factory*

*devtask*/

_bundle/
lean_compressed.sh
ubcore_compressed.sh
core_compressed.sh
core_monolithic.sh
core_monolithic_compressed.sh
monolithic_compressed.sh
ubiquitous_bash_compressed.sh

rotten_test_compressed.sh
rotten_test.sh

project.afs

/ops

.pidlist*

.c_*
.c_*/
c_*/

.e_*
.e_*/
e_*/
.m_*
.m_*/
m_*/

.s_*
.s_*/
s_*/

q_*/

w_*/
v_*/
h_*/

d_*
d_*/
_d_*
_d_*/
__d_*
__d_*/

*_history

vm.vdi
vm.img
vm*.img
WARNING
*.log
devtask*
devtask/
USAGE.*.html
_buried

_local/*
!_local/ubcp
.search/
search/

_index

**/_wbottle/.update-timestamp
**/_wbottle/dosdevices
**/_wbottle/drive_c/users

*.tar
*.zip
*.iso

package.tar.*
package_ubcp.tar.*
package_ubcp*.tar.*
package_ubcp-cygwinOnly.tar.*
package_ubcp-cygwinOnly*.tar.*

package_*.tar.*
package_tmp.tar.*
package_full.tar.*
package_kit.tar.*

id_rsa
pubring.kbx
pubring.kbx*
trustdb.gpg

\#*\#
*~
*.bak
*swp
*.kate-swp

nohup.out
awkvars.out

*.log
*.ldb

*.cast

**/*cache*
**/*Cache*
**/*LOG*
**/*Log*
**/*log*

**/home/.pki
**/home/.nv

**/home/.Xauthority
**/home/.bash_history
**/home/.bashrc
**/home/.gitconfig
**/home/.ssh
**/home/.ubcore
**/home/Desktop
**/home/Documents
**/home/Downloads
**/home/Music
**/home/Pictures
**/home/Public
**/home/Templates
**/home/Videos
**/home/bin
**/home/core
**/home/project
**/home/projects
**/home/realHome

**/home/.java
**/home/.oracle_jre*

_local/h/.arduino15/staging/

**/node_modules/pty.js/build/Makefile
**/node_modules/pty.js/build/config.gypi
**/node_modules/pty.js/build/pty.target.mk

**/.atom/.apm

**/.config/Atom/QuotaManager
**/.config/Atom/QuotaManager-journal
**/.config/Atom/QuotaManager*
**/.config/Atom/Local Storage/
**/.config/Atom/databases
**/.config/Atom/Cookies
**/.config/Atom/Cookies-journal
**/.config/Atom/Cookies*
**/.config/Atom/IndexedDB/

!dockerHello.tar
