/ops

w_*/
v_*/
h_*/
*.tar
*.zip
*.iso
vm.vdi
vm.img
vm*.img
WARNING
_local
_index
*.log
devtask*
devtask/
USAGE.*.html
_buried

package.tar.gz

id_rsa
pubring.kbx
pubring.kbx*
trustdb.gpg

\#*\#
*~
*.bak
*swp
*.kate-swp

nohup.out

*.log

**/*Cache*
**/*LOG*
**/*Log*
**/*log*

**/home/.pki
**/home/.nv

**/home/.Xauthority
**/home/.bash_history
**/home/.bashrc
**/home/.gitconfig
**/home/.ssh
**/home/.ubcore
**/home/Desktop
**/home/Documents
**/home/Downloads
**/home/Music
**/home/Pictures
**/home/Public
**/home/Templates
**/home/Videos
**/home/bin
**/home/core
**/home/project
**/home/projects
**/home/realHome
