[submodule "_lib/kit/app/researchEngine"]
	path = _lib/kit/app/researchEngine
	url = https://github.com/mirage335-special/kit-researchEngine.git
[submodule "_lib/.msw_python_wheels"]
	path = _lib/.msw_python_wheels
	url = https://github.com/mirage335-special/.msw_python_wheels.git
