"*":
  core:
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    openEmptyEditorOnStart: false
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  editor:
    softTabs: false
  "exception-reporting":
    userId: "fe71d4f1-959d-4a01-b2de-3e879b4f2225"
  welcome:
    showOnStartup: false
