[Desktop Entry]
Comment=kate-files
Exec=kate -n --startanon %F
Icon=kate
Name=kate
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
