
_index
_local/*

id_rsa
pubring.kbx
pubring.kbx*
trustdb.gpg

_local/h

_local/id_rsa
_local/id_rsa.pub

_local/tor/sshd/dd*/
_local/tor/sshd/dd**/


_bundle/
lean_compressed.sh
ubcore_compressed.sh
core_compressed.sh
core_monolithic.sh
core_monolithic_compressed.sh
monolithic_compressed.sh
ubiquitous_bash_compressed.sh


/ops

_arc/

__disk/**/


/_local/.bgpid
/_local/.bgpid*

_local/ssh/log/





!_local/ubcp
.search
search/


.c_*
.c_*/
c_*/

.e_*
.e_*/
e_*/
.m_*
.m_*/
m_*/

.s_*
.s_*/
s_*/

q_*/

w_*/
v_*/
h_*/
h_esr*/

d_*
d_*/
_d_*
_d_*/
__d_*
__d_*/

*_history

vm.vdi
vm.img
vm*.img
WARNING
*.log
devtask*
devtask/
USAGE.*.html
_buried


.cache/


**/_wbottle/.update-timestamp
**/_wbottle/dosdevices
**/_wbottle/drive_c/users

*.tar
*.zip
*.iso

package.tar.*
package_ubcp.tar.*
package_ubcp*.tar.*
package_ubcp-cygwinOnly.tar.*
package_ubcp-cygwinOnly*.tar.*

package_*.tar.*
package_tmp.tar.*
package_full.tar.*
package_kit.tar.*

\#*\#
*~
*.bak
*swp
*.kate-swp

nohup.out
awkvars.out

*.log
*.ldb

**/*cache*
**/*Cache*
**/*LOG*
**/*Log*
**/*log*

**/.pki
**/.nv

**/.Xauthority
**/.bash_history
**/.bashrc
**/.gitconfig
**/.ssh
**/.ubcore
**/Desktop
**/Documents
**/Downloads
**/Music
**/Pictures
**/Public
**/Templates
**/Videos
**/bin
**/core
**/project
**/projects
**/realHome

**/.java
**/.oracle_jre*

_local/h/.arduino15/staging/

_local/h_esr

_local/templates

**/node_modules/pty.js/build/Makefile
**/node_modules/pty.js/build/config.gypi
**/node_modules/pty.js/build/pty.target.mk

**/.atom/.apm

**/.config/Atom/QuotaManager
**/.config/Atom/QuotaManager-journal
**/.config/Atom/QuotaManager*
**/.config/Atom/Local Storage/
**/.config/Atom/databases
**/.config/Atom/Cookies
**/.config/Atom/Cookies-journal
**/.config/Atom/Cookies*
**/.config/Atom/IndexedDB/


_local/h/.config/baloofilerc

_local/h/.config/dconf/user

_local/h/.local/share/recent*
_local/h/.local/share/recent**

_local/h/.local/share/RecentDocuments
_local/h/.local/share/dolphin

_local/h/.local/share/user-places*


_local/h/.local/share/gvfs*
_local/h/.local/share/gvfs**


_local/h/.bashrc
_local/h/.gitconfig




_local/h/.nv
_local/h/.recently-used
_local/h/.ssh
_local/h/.ubcore
_local/h/Documents
_local/h/Downloads
_local/h/Music
_local/h/Pictures
_local/h/Public
_local/h/Templates
_local/h/Videos
_local/h/bin
_local/h/core
_local/h/project
_local/h/projects
_local/h/realHome
_local/h/.Xauthority


_local/h_esr/.nv
_local/h_esr/.recently-used
_local/h_esr/.ssh
_local/h_esr/.ubcore
_local/h_esr/Documents
_local/h_esr/Downloads
_local/h_esr/Music
_local/h_esr/Pictures
_local/h_esr/Public
_local/h_esr/Templates
_local/h_esr/Videos
_local/h_esr/bin
_local/h_esr/core
_local/h_esr/project
_local/h_esr/projects
_local/h_esr/realHome
_local/h_esr/.Xauthority


**/h*/.pki
**/h*/.nv


**/h*/.Xauthority
**/h*/.bash_history
**/h*/.bashrc
**/h*/.gitconfig
**/h*/.ssh
**/h*/.ubcore
**/h*/Desktop
**/h*/Documents
**/h*/Downloads
**/h*/Music
**/h*/Pictures
**/h*/Public
**/h*/Templates
**/h*/Videos
**/h*/bin
**/h*/core
**/h*/project
**/h*/projects
**/h*/realHome


**/h*/.java
**/h*/.oracle_jre*



_local/setups/firefox
_local/setups/firefox-esr



















