w_*/
v_*/
h_*/
*.tar
*.zip
*.iso
vm.vdi
vm.img
vm*.img
WARNING
*.log
devtask*
devtask/
USAGE.*.html
_buried

\#*\#
*~
*.bak
*swp
*.kate-swp

nohup.out

*.log
*.ldb

**/*cache*
**/*Cache*
**/*LOG*
**/*Log*
**/*log*

**/.pki
**/.nv

**/.Xauthority
**/.bash_history
**/.bashrc
**/.gitconfig
**/.ssh
**/.ubcore
**/Desktop
**/Documents
**/Downloads
**/Music
**/Pictures
**/Public
**/Templates
**/Videos
**/bin
**/core
**/project
**/projects
**/realHome

**/.java
**/.oracle_jre*

_local/h/.arduino15/staging/

_local/h
_local/templates
